{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner drama">
<h1>Are you sure you want to delete {{dramas.name}}?</h1>
</div>
<form action="#" method = 'post'>

        <button type="submit" class="button btn-default delete" id="submit" type="submit">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
        <a href = '{{url_for("showDramas")}}'>
            <button class="button btn-default delete" type="button">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
        </a>
    
    </form>
{% endblock %}
