<div class="row bg-info">
<head>
    <title>Catalog Project</title>
</head>
<div class="row top">
    <div class="col-md-6">
        <a href="{{url_for('showLogin')}}">
            <span class="glyphicon glyphicon-log-in"></span>
        LogIn</a>
</div>

<div class="col-md-6 text-right">
    <a href="{{url_for('showLogout')}}">
        <span class="glyphicon glyphicon-log-out"></span>
        LogOut</a>
 </div>

 <div class="col-md-7 text-right">
        <a href="{{url_for('showDramas')}}">
            <span class="glyphicon glyphicon-home"></span>
            Show All Dramas</a>
     </div>
</div>
</div>