{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner drama">
<h1>Latest Dramas
    <figure class="creator">
        <figcaption></figcaption>
    </figure>
</h1>
</div>

{% include "flash.html" %}

<div class="bg-info">
{% for i in ldlist%}
    <p><strong>Name</strong> :  {{i.name}}</p>
    <p><strong>Description</strong> :  {{i.description}}</p>
    <p><strong>Genre</strong> :  {{i.genre}}</p>
    <p><strong>Running Time</strong> :  {{i.running_time}}</p>
    <p><strong>Number of Episodes</strong> :  {{i.no_of_episodes}}</p>
    <br>
    <br> 
    <br> 
{% endfor %}
</div>
</div>
{% endblock %}

